/************** structure generale ************/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=PT+Serif:ital@1&display=swap');/*font d'ecriture*/
body {
    font-family: 'PT Serif';
    padding: 0;
    margin: 0;
}
  ul {
      margin: 0;
      padding: 0;
  }
  li {
      list-style-type: none;
  }
  h2 {
      
      text-align: center;
      padding-top: 30px;
      font-size: 1.5em;
  }
  li a {
      text-decoration: none;
      color: white;
  }
  /************** nav barre ************/
  nav {
      overflow: hidden;
      background-color: rgb(8, 8, 41);
      position: fixed;
      width: 100%;
      opacity: 0.9;
  }
  header li {
      float: right;
      font-size: 1.5em;
  }
  header li a {
      text-decoration: none;
      display: block;
      text-align: center;
      padding: 18px 16px;
  }
  #logo {
      font-family: 'Dancing Script', cursive;
      font-weight: bold;
      float: left;
  }
  /****************** image pricipale ****************/
  #imagePricipale {
      padding-top: 70px;
      background: url(media/imagepricipale2.jpg) no-repeat fixed 50% 50%;
      background-size: cover;
      height: 550px;
  }
  h1 {
      font-family: 'Dancing Script', cursive;
      text-align: center;
      color: white;
      font-size: 6cm;
      margin-top: 80px;
      text-shadow: -2px -3px 0px #FBFF35;
  }
  #premierTrait {
      height: 1px;
      width: 25%;
      margin: -160px auto;
      background-color: rgb(233, 214, 190);
  }
  h3 {
      text-align: center;
      color: white;
      font-size: 1cm;
  }
  /***************** presentation *********************/
  #presentation {
      background-color: white;
      padding: 10px 0px 100px 0;
  }
  #texteIntro {
      padding: 0px 20%;
  }
  h2 {
    
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 3em;
  }
  P {
    text-align: center;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
  }
 #prestations {
     display: block;
     padding: 30px 10%;
 } 
 #imagesPrestations {
     font-size: 2em;
     margin: 15px;
     font-weight: 300;
 }
 h4 {
    text-align: center;
     color: black;
     font-size: 2em;
     
 }
 h4:hover {
     opacity: 0.5;
     transform: scale(1.05);
     transition: 0.6s ease-in-out;
 }
 img {
    width: 300px;
    display: block;
    margin:auto;
    border-radius: 10px;
    box-shadow: 3px 4px 5px 4px;
 }
 a {
     color :rgb(13, 52, 110);
     text-align: center;
 }
 #pageSuivante{
     text-align: center;
 }
 footer{
    background-color: rgb(8, 8, 41);
    color: white;
    padding:0 0 20px 0;
    text-align: center;

}
form{
    margin: 0 auto;
    max-width: 900px;

}
input, textarea , button {
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin :1px 0;
    font-size: 1.2em;
    
}
button {
    font-size: 1.5em;
    background-color: rgb(51, 33, 102);
}
#deuxiemeTrait{
    height: 1px;
    width: 75%;
    background-color: aliceblue;
    margin: 60px auto;
}
#copyrightEtIcons{
    display: flex;

}
#copyright{
    width: 50%;
    text-align: left;
}
#icons{
    width: 50%;
    text-align: right;
}